main {
  background: white;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
}

.aside {
  background: rgb(230, 230, 230);
  width: 450px;
  padding: 15px 25px;
  height: 90vh;
  position: sticky;
  left: 0;
  top: 10vh;
}

.channels {
  height: 75%;
  overflow-y: scroll;
}

.channel {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  margin-bottom: 20px;
  padding: 7px;
  border-radius: 5px;
  cursor: pointer;
}

.channel-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 6;
}

.channel-status {
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
  align-items: center;
  flex: 4;
}

.channel:hover {
  background-color: rgb(200, 200, 200);
}

.channel .channels-name {
  text-align: left;
  width: 50%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: 20px;
}

.channels-views {
  width: 20%;
  text-align: right;
}

.online-channel {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.indicator-online {
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50%;
  margin-right: 10px;
  animation: pulse 2s infinite;
}

.channel-info > img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.info {
  height: 180px;
  margin: 30px auto;
  padding: 30px;
  text-align: center;
  font-size: 2.5rem;
  background-color: lightgrey;
  border-radius: 10px;
}

.info-text {
  font-weight: bolder;
}

.info-text::selection {
  background-color: orange;
  color: white;
}

.info-icons {
  margin-top: 35px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.info-icons i {
  cursor: pointer;
}

.fa-telegram:hover {
  color: #0088cc;
}

.fa-instagram:hover {
  color: #fd5949;
}
.fa-facebook:hover {
  color: #3b5998;
}
