footer {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  padding: 50px 0px;
  margin-top: auto;
}

footer > i {
  margin-left: 20px;
}

footer > i:hover {
  margin-left: 20px;
  color: #ff0000;
}
