header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 25px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 5px;
  z-index: 3;
  height: 10vh;
}

input[type="text"]:focus {
  outline: none;
  background-color: rgb(243, 243, 243);
  border: 3px solid orange;
}

.search-box {
  display: flex;
  align-items: center;
  width: 500px;
  margin: 0px 30px;
}

.search-box input {
  height: 40px;
  width: 100%;
  border-radius: 5px 0px 0px 5px;
  border: 1px solid grey;
  padding: 0 10px;
}

.search-box > .search {
  background-color: rgb(230, 230, 230);
  height: 40px;
  width: 40px;
  border-radius: 0 5px 5px 0;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

.search-box > .search i {
  padding: 15px 12px;
}

.microphone-icon {
  margin-left: 20px;
  cursor: pointer;
}

.microphone-icon:hover {
  color: grey;
}

.webname-box a {
  font-size: 4rem;
  color: orange;
  width: 30%;
  text-decoration: underline;
}

.profile-box {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.notification-profile {
  cursor: pointer;
}

.notification-profile:hover {
  color: grey;
}

.profile-box > a {
  color: black;
}

.search-box {
  display: flex;
}

.circle-profile {
  background-color: orange;
  width: 44px;
  height: 44px;
  padding: 12px 12px;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  display: inline-block;
  margin-left: 30px;
}

.dropdown-content {
  display: none;
  opacity: 0;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  left: -90px;
  top: 40px;
  transition: all 0.3s ease;
}

.dropdown-content > a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 1.5rem;
  border-bottom: 1px solid black;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown-content-btn:hover {
  color: orange;
}

.circle-profile:hover .dropdown-content {
  display: block;
  opacity: 1;
}

.dropdown-content > a > span {
  margin-left: 20px;
}

.fa-sign-out-alt {
  color: red;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.logout {
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.logout:hover {
  color: red;
}
