.tags {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 20px;
  overflow-x: scroll;
  padding: 22px 25px;
}

.category {
  background-color: rgb(230, 230, 230);
  font-size: 1.6rem;
  width: 110px;
  border-radius: 20px;
  border: 1px solid grey;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
}

.category:hover {
  background-color: rgb(190, 190, 190);
}

.category:first-child {
  background-color: orange;
  color: white;
}

.category:first-child:hover {
  background-color: orange;
  color: white;
}

.tags::-webkit-scrollbar {
  display: none;
}

.video-blocks {
  width: 100%;
  padding: 15px 25px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(35rem, 0.75fr));
  gap: 2rem;
  justify-content: center;
}

.video-container {
  position: relative;
  cursor: pointer;
  width: fit-content;
  height: fit-content;
}

.video-play {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: 0.4s;
  height: 100%;
  width: 100%;
}

.video-play:hover {
  opacity: 0.8;
  color: rgba(255, 255, 255, 0.9);
}

.video-container img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video-views {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.55);
  color: white;
  text-align: center;
  font-size: 2rem;
  border-radius: 5px;
  width: 60px;
  z-index: 2;
}

.live {
  width: 140px;
  z-index: 2;
  position: relative;
}

.video-live {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: rgba(255, 0, 0, 0.85);
  color: white;
  text-align: center;
  font-size: 2rem;
  border-radius: 5px;
  width: 60px;
  z-index: 2;
}

.text-info {
  padding-left: 10px;
  flex: 4;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.video-decr:hover {
  color: orange;
}

.video-title {
  padding: 10px;
  font-size: 2.5rem;
  display: flex;
  align-items: unset;
  max-width: 100%;
}

.more-but {
  margin: auto;
  cursor: pointer;
}

.more-but:hover {
  color: grey;
}

.video-channel-name {
  font-size: 1.5rem;
  display: flex;
  justify-content: flex-start;
  align-items: unset;
  color: rgb(130, 130, 130);
}

.video-channel-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.video-views {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
