@keyframes pulse {
  30% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(247, 21, 21, 0.7);
  }

  60% {
    transform: scale(1);
    box-shadow: 0 0 0 5px rgba(240, 89, 89, 0.438);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(223, 82, 82, 0.418);
  }
}

@media screen and (max-width: 1200px) {
  .channel span,
  .channel .channel-status {
    display: none;
  }
  .aside {
    width: fit-content;
    padding-right: 10px;
    padding-left: 10px;
    height: 90vh;
  }

  .channels {
    height: 100%;
  }

  .info {
    display: none;
  }

  .info {
    font-size: 1rem;
    padding: 1px;
    padding-top: 20px;
    height: 200px;
  }
  .info-icons {
    flex-direction: column;
  }

  .info-icons i {
    margin-top: 20px;
  }

  .channel-info img {
    display: block;
  }
}

@media screen and (max-width: 730px) {
  .webname-box > a {
    font-size: 1.6rem;
  }
}
